In [3]:
x = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Tuples are immutable. This means that the values inside cannot change

In [6]:
y = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
print (y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
y[0] = 1.5
y

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
x[0]

1

In [16]:
z = []
for number in range(1, 100) :
    square = (number + 1) ** 2
    z.append(square)
    
print(z)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [10]:
list(range(1, 101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
squares_100 = [number**2 for number in range(1, 101)]
print(squares_100)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [20]:
# use a list comprehension to make a list of the first 50 multiples of 7, store as multiples 
multiples = [number*7 for number in range (1, 51)]
print (multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350]

In [1]:
my_list = [i for i in range(1, 21)]
print (my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
print(my_list[3])

4

In [3]:
print(my_list[11])

12

In [4]:
# select the first 5 items in my_list. Use : (includes first number, does not include second)

print(my_list[0:5])

[1, 2, 3, 4, 5]

In [5]:
# select the last five items from my_list
my_list[15:]

[16, 17, 18, 19, 20]

In [8]:
#select the last item only from my_lsit
my_list[-1:]

[20]

In [9]:
# select a part or the middle of my_list
my_list[5:15]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
# Dictionaries : a dictionary is a set of keys and values 
my_dict = {'Robin':'teal', 'Max':'green', 'OJ':'gold', 'Logan':'green'}

In [20]:
my_dict

{'Robin': 'teal', 'Max': 'green', 'OJ': 'gold', 'Logan': 'green'}

In [14]:
my_dict['Robin']

'teal'

In [21]:
# find Logan's favorite color
my_dict['Logan']

'green'

In [ ]:
class_info = {'Robin':[6,5,9], 'Max'}

In [ ]:
info_dict = {'quiz_1': {'Robin':7, 'Max:6, 'Anna':5},

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv()